<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.CAMERA_USAGE_DESCRIPTION" />
<uses-permission android:name="android.permission.PHOTOLIBRARY_USAGE_DESCRIPTION" />
